:root{
    --yellow:#E3B23C;
    --green:#4ea2ad;
    --blue:#5d5ebe;
    --magenta:#7F0799;

    --base:#2e271f;

    --game_btn: #6a8c99; 

    --background:#184050;


}

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background);
    flex-direction: column;
    
}

h1{
    display: block;
    font-size: 42px;
    color: white;
    margin-top: 5px;
    margin-bottom: 30px;
}

.score{
    color: white;
    margin-bottom: 30px;

}

.container{
    height: 50vh;
    aspect-ratio: 1/1;
    border: 15px solid var(--base);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.226);
    background-color: var(--base);
}

.container > button{
    position: absolute;
    height: calc(50% - 10px);
    aspect-ratio: 1/1;
    border: 10px solid transparent;
    
}

.green{
    background-color: var(--green);
    border-radius: 100% 0% 70% 30% / 100% 100% 0% 0% ;
}


.yellow{
    background-color: var(--yellow);
    top:calc(50% + 10px);
    border-radius: 0% 100% 0% 100% / 0% 0% 100% 100% ;
}

.magenta{
    background-color: var(--magenta);
    left:calc(50% + 10px);
    border-radius: 0% 100% 100% 0% / 0% 100% 0% 100%;
}

.blue{
    background-color: var(--blue);
    top:calc(50% + 10px);
    left:calc(50% + 10px);
    border-radius:0% 100% 100% 0% / 0% 0% 100% 100% ;
}

.pressed{
    filter: brightness(160%);
}

.game_btn{
    position: relative;
    box-sizing: content-box;
    margin-top: 30px;
    background-color: var(--game_btn);
    height:50px;
    width: 100px;
    border-radius:10px;
    padding: 5px 8px;
    text-align: center;
    border: 0px;
    font-weight: bold;
    
}


.hidden{
    display:none;
}